* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wallet-container {
  background: #2fc18c;
  background-image: url('../assets/foto\ fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
}
